.login-container {
    @apply h-screen bg-cover bg-no-repeat bg-ust-main bg-center relative z-10 flex justify-center items-center;
}

.login-overlay {
    @apply h-full absolute w-full bg-red-700 bg-opacity-50;
}

.login-content-container {
    @apply z-20 h-4/5 w-2/3 bg-white flex justify-center items-center ;
}

.login-content {
    @apply w-1/3 h-auto
}

.login-logo {
    @apply text-center flex justify-center items-center flex-col
}
.login-logo img {
    @apply xl:w-1/3 h-1/3 text-center sm:w-1/2 
}
.login-logo h1 {
    @apply text-2xl mt-5;
    font-family: 'Abel', sans-serif;
    /*font-family: 'Antonio', sans-serif;*/
}
.logo-hg {
    font-family: 'Antonio', sans-serif;
}
.login-form {
}
.input-box {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}
.login-form label{
    font-family: 'Abel', sans-serif;
}
.login-form input{
    font-family: 'Abel', sans-serif;
    outline: none ;
    outline-style: none;
    width: 90%;
    border: none;
    padding-top: 0;
    padding-bottom: 3px;    
}
.login-form input:focus {
    outline: none !important;
    outline-style: none !important;
}
.login-form input:focus{
    outline: none;
}
.login-form svg {
    display: inline-block;
    width: 10%;
}
.login-buttons {
    @apply text-center flex justify-center items-center flex-col mt-6
}
.login-buttons button{
    background-color: #B7152F;
    color: white;
    padding: .5rem 5rem;
    font-family: 'Antonio', sans-serif;
}
.login-buttons a {
    color: gray;
    font-family: 'Abel', sans-serif;
    margin-top: 1rem;
}