.taskSettings-container {
  @apply h-auto w-full flex justify-center items-start mt-20 ;
}
.taskSettings-container-bar {
  @apply h-auto pb-4 pl-3 w-full justify-center text-white text-lg ml-20 mr-20;
  font-family: 'Antonio', sans-serif;
  background-color: #35414F;
}
.taskComponents-container {
  @apply h-auto w-full flex justify-center items-start  ;
}
.taskSettings-container-layout {
  @apply h-auto p-3 w-full text-lg ml-20 mr-20;
  font-family: 'Antonio', sans-serif;
  background-color: white;
}
.taskSettings-buttons {
  @apply mt-10 ;
}
.taskTitle-textfield {
  @apply h-10 p-3 w-full mr-10 mt-3;
}
.taskDescription-textfield {
  @apply h-20 p-3 w-full mt-3;
}
.taskScope-textfield {
  @apply h-10 p-3 w-full mt-3;
}
.addScopeBtn {
  @apply px-20 py-2 border border-gray-300 text-white mr-5 text-lg;
  background-color: #35414F;
}
.removeScopeBtn {
  @apply px-20 py-2 border border-gray-300 text-white mr-5 text-lg;
  background-color: #F00000;
}
.clearScopeBtn {
  @apply px-20 py-2 border border-gray-300 text-white mr-5 text-lg;
  background-color: #B7152F;;
}
.updateTask-button {
  @apply px-20 py-2  text-white text-sm sm:flex sm:flex-row-reverse;

}
.updateTaskBtn {
  @apply px-20 py-2 border border-gray-300 text-white text-lg sm:flex sm:flex-row-reverse mb-10;
  background-color: #35414F;
}

