<!--
<div>
    <h2>Sign Up</h2>
    <input type="text" [(ngModel)]="email" placeholder="Email">
    <input type="text" [(ngModel)]="password" placeholder="Password">
    <input type="text" [(ngModel)]="name" placeholder="Full Name">
    <input type="text" [(ngModel)]="number" placeholder="Contact Number">
    <button (click)="signUp()">Sign Up</button>
  </div>
-->
<app-navbar></app-navbar> <!-- NAVBAR -->
<div class="main-container"> <!-- MAIN CONTAINER LAGI NYONG LAGYAN NITO -->
  <div class="main-title">
    <div class="main-title-text">
      <h1>DASHBOARD</h1>
    </div>
    <div class="main-title-date">
      <h1>{{dateToday | date}}</h1>
    </div>
  </div>
  <div class="sub-container">
    <h1>A</h1>
  </div>
</div>
 