<!--
<div>
    <h2>Sign Up</h2>
    <input type="text" [(ngModel)]="email" placeholder="Email">
    <input type="text" [(ngModel)]="password" placeholder="Password">
    <input type="text" [(ngModel)]="name" placeholder="Full Name">
    <input type="text" [(ngModel)]="number" placeholder="Contact Number">
    <button (click)="signUp()">Sign Up</button>
  </div>
-->
<app-navbar></app-navbar>

  <div *ngIf="fsData as user">
    <img src="{{user.profilePicture}}" style="height: 20px; width: 20px;">
    <p>{{user.firstName}}</p>
    <br>
  <button (click)="logout()">Logout</button>
  </div>
