<app-navbar></app-navbar> <!-- NAVBAR -->
<div class="main-container" *ngIf="fsData as user"> <!-- MAIN CONTAINER LAGI NYONG LAGYAN NITO -->
    <div class="main-title">
        <div class="main-title-text">
          <h1>User Management / {{user.displayName}} </h1>
        </div>
        <div class="main-title-date">
          <h1>{{dateToday | date}}</h1>
        </div>
    </div>
    <div flexbox>


    </div>
  <div class="sub-container">
    <!-- Start Coding here -->
        <!-- Task description -->
      <div class="task-container-middle">
          <div class="taskDescrip-container-left-main">
              <h1 class="text-3xl mt-4">Task Description</h1>
                <h1>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</h1>
          </div>
      </div>
      <!-- elements box section -->
      <!-- uploaded by layout -->
    <div class="elements-firstrow-container">
      <div class="uploadedBy-container-left">
          <div class="uploadedBy-container-left-main">
              <h1 class="text-5xl mt-4 text-white">Uploaded by:</h1>
          </div>
      </div>
      <!-- task deadline layout -->
      <div class="taskDeadline-container-mid">
        <div class="taskDeadline-container-mid-main">
            <h1 class="text-5xl mt-4 text-white">Task Deadline:</h1>
        </div>
      </div>
      <!-- Task scope layout -->
      <div class="taskScope-container-right">
        <div class="taskScope-container-right-main">
            <h1 class="text-5xl mt-4 text-Black">Task Scope:</h1>
        </div>
      </div>
    </div>
      <!-- pending submission layout -->
    <div class="elements-secondrow-container">
      <div class="pending-container-left">
        <div class="pending-container-left-main">
            <h1 class="text-5xl mt-4 text-white">Pending Submission:</h1>
          </div>
      </div>
       <!-- pending submission layout -->
      <div class="approval-container-right">
        <div class="approval-container-right-main">
            <h1 class="text-5xl mt-4 text-white">For Approval Submission:</h1>
        </div>
      </div>
      <!-- Piechart place holder -->
      <div class="piechart-container-right">
        <div class="piechart-container-right-main">
            <h1 class="text-5xl mt-4 text-white"></h1>
        </div>
      </div>
    </div>
        <!-- Late submission layout -->
    <div class="elements-thirdrow-container">
      <div class="late-container-left">
        <div class="late-container-left-main">
            <h1 class="text-5xl mt-4 text-white">Late Submission:</h1>
          </div>
      </div>
      <!-- Approved Submission -->
      <div class="approved-container-right">
        <div class="approved-container-right-main">
            <h1 class="text-5xl mt-4 text-white">Approved Submission:</h1>
        </div>
      </div>
      <div class="piechart-container-right">
        <div class="piechart-container-right-main">
            <h1 class="text-5xl mt-4 text-white"></h1>
        </div>
      </div>
    </div>


        <!-- student tracker container -->
        <div class="admin-container-header">
          <h1>Student Tracker:</h1>
        </div>
        <div class="admin-container-children">
          <div class="admin-container-children-left">
              <p>Student Name Placeholder</p>
          </div>
          <div class="admin-container-children-right">
              <p>Student section Placeholder</p>
          </div>
          <div class="admin-container-children-right">
          </div>
      </div>
</div>
