@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
body {
    background-color: #EEF1F6;
}
.main-container {
    @apply pl-52;
}
.main-title {
    @apply w-full h-auto pt-12 text-black;
}
.main-title-text {
    @apply w-full justify-start items-center text-lg;
    font-family: 'Abel', sans-serif;
}
.main-title-date {
    @apply w-1/2 flex items-center justify-end;
    font-family: 'Abel', sans-serif;
}
.sub-container {
    @apply h-auto w-full p-6;
}

